@CHARSET "ISO-8859-1";

/* Browser compatibility */
body {
    margin: 0;
    padding: 0;
}

.header {
	background-color: green;
	text-align: center;
}

.sidebar {
	float: left;
	width: 100px;
	background-color: blue;
}

.footer {
	background-color: gray;
	text-align: center;
}

a:hover {
    color: #FF00FF;
}

.clear {
	clear: both;
}
